/wp-admin
/wp-includes
/wp-content/uploads
/wp-*.php
!/wp-config.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/local-config.php
/npm-debug.log
/.htaccess
/wp-content/aiowps_backups

/dev/node_modules
.DS_Store
thumbs.db
/nbproject/
/.idea/