//
// variables
//

// colors
$silver                 : #BAC9CC;
$gold                   : #FFCD37;
$blue_gray              : #1A2233;
$burnt_red              : #721213;
$brown                  : #270F0F;
$text                   : $brown;

// fonts
$serif                  : 'Libre Baskerville', serif;

// breakpoints
$bp-alpha 		: 500px;
$bp-bravo 		: 700px;
$bp-charlie             : 900px;
$bp-delta 		: 1100px;
$bp-echo 		: 1300px;
$bp-foxtrot             : 1500px;
