.reviews_container {

    .featured_area {
        width: 66%;
        padding: 20px;
        display:inline-block;
        vertical-align: top;
        .meta_container {
            width: 50%;
            margin: 20px auto;
            text-align: center;
            .title {
                border-bottom: 1px solid #CCC;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
        }
    }

    .secondary_area {
        width: 34%;
        display:inline-block;
        .review {
          padding: 20px;
        }
    }

    .review {
        box-sizing: border-box;
    }
}